/* Write your CSS code here */

.nav-elements {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav {
  font-family: 'Roboto';
  font-size: 20px;
  color: #551e53;
  margin: 10px;
  font-weight: bold;
}

.image {
  height: 40px;
  width: 40px;
  margin: 15px;
}

.logo-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-family: 'Roboto';
  font-size: 20px;
  color: #551e53;
  font-weight: bold;
}

.header-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
